<div class="navbar">
  <div class="navbar-left">
    <button pButton pRipple icon="pi pi-bars" class="p-button-rounded p-button-text menu-toggle" (click)="onToggleSidebar()"></button>
    <div class="logo">
      <span class="app-name">CAC</span>
      <span class="app-subtitle">Insurance Comparison Tool</span>
    </div>
  </div>
  
  <div class="navbar-right">
    <div class="user-menu" *ngIf="currentUser">
      <button pButton pRipple 
              class="p-button-rounded p-button-text user-button" 
              [pTooltip]="currentUser.email"
              tooltipPosition="bottom"
              [label]="currentUser.first_name || ''"
              icon="pi pi-user"
              (click)="menu.toggle($event)">
      </button>
      <p-menu #menu [popup]="true" [model]="userMenuItems"></p-menu>
    </div>
  </div>
</div>
